<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
      crossorigin="anonymous">
<link rel="stylesheet" th:href="@{|/css/bootstrap.min.css|}">
<head>
    <meta charset="UTF-8">
    <title>Dish Detail</title>
</head>
<body>
<h1 th:replace="~{fragments/header :: header}"></h1>

<h6 class="mt-3 ms-2" th:text="'Home > Recepten > Categorie > ' + ${dish.name}"></h6>


<main class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="recipeImage">
                <img th:src="@{${dish.getImgFileName()}}" th:alt="${dish.name}" style="max-width: 100%;">
            </div>
        </div>

        <div class="col-md-6 ">
            <div th:if="${dish}">
                <a sec:authorize="hasAuthority('ADMIN')" th:href="@{|/modify/dishedit/${dish.id}|}" class="btn btn-primary">Edit</a>
                <form sec:authorize="hasAuthority('ADMIN')" th:action="@{/toggle/dish/{id}(id=${dish.id})}" method="post">
                    <input type="hidden" name="active" th:value="${!dish.active}">
                    <button type="submit" th:class="${dish.active ? 'btn btn-success' : 'btn btn-danger'}"
                            th:text="${dish.active ? 'Active' : 'Inactive'}">
                    </button>
                </form>
                <h2>
                    <strong th:text="${dish.name}">Dish Name</strong>

                </h2>

                <h4>Gelegenheid</h4>
                <p th:text="${dish.occasion}"></p>

                <h4>Dieet</h4>
                <p th:text="${dish.dietPreferences}"></p>

                <h4>Bereidingstijd</h4>
                <p th:text="${dish.preparationTime}"></p>
            </div>
        </div>
    </div>
</main>

<div class="row justify-content-center">
    <div class="col-6">
        <form sec:authorize="hasAuthority('USER')" th:action="@{/addToMenu}" th:object="${dish}" method="post">
            <input type="hidden" name="dishId" th:value="${dish.id}">
            <button type="submit" class="btn btn-outline-dark mt-4">Toevoegen aan Menu</button>
        </form>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-6 mb-1">
            <h4>Ingrediënten</h4>
            <div class="row">
                <div class="col-6">
                    <h5 class="text-secondary">Aantal personen:</h5>
                </div>
                <div class="col-6 d-inline-flex">
                    <button onclick="subtractPersons()" class="btn btn-outline-primary rounded-circle">-</button>
                    <p id="persons" class="mx-3">1</p>
                    <button onclick="addPersons()" class="btn btn-outline-primary rounded-circle">+</button>
                </div>
            </div>
            <ul th:each="ingredient, stat : ${dish.getIngredients()}"
                th:if="${ingredient.quantity != null}">
                <li>
                    <span th:text="|${ingredient.name} ${ingredient.quantity > 0 ? ':' : ''}|"></span>
                    <span th:data-quantity="${ingredient.quantity}" class="quantity" th:id="|quantity${stat.index}|" th:text="${ingredient.quantity > 0 ? ingredient.quantity : ''}"></span>
                    <span th:text="${ingredient.getUnit()}"></span>
                </li>
            </ul>
        </div>

        <div class="col-sm-12 col-md-12 col-lg-6 mb-1">
            <h4>Voedingswaarde <span class="text-secondary">(per persoon)</span></h4>
            <div th:each="nutrition: ${dish.getNutritions()}">
                <div class="row">
                    <div class="col-lg-4 border text-center mt-2">
                        <label>Vezel</label>
                        <p th:text="${nutrition.fiber}"></p>
                    </div>

                    <div class="col-lg-4 border text-center mt-2">
                        <label>Zout</label>
                        <p th:text="${nutrition.salt}"></p>
                    </div>

                    <div class="col-lg-4 border text-center mt-2">
                        <label>Suiker</label>
                        <p th:text="${nutrition.sugar}"></p>
                    </div>

                    <div class="col-lg-4 border text-center mt-2">
                        <label>Verz. Vet</label>
                        <p th:text="${nutrition.saturatedFat}"></p>
                    </div>

                    <div class="col-lg-4 border text-center mt-2">
                        <label>Vet</label>
                        <p th:text="${nutrition.fat}"></p>
                    </div>

                    <div class="col-lg-4 border text-center mt-2">
                        <label>Koolhydraten</label>
                        <p th:text="${nutrition.carbs}"></p>
                    </div>

                    <div class="col-lg-4 border text-center mt-2">
                        <label>Eiwit</label>
                        <p th:text="${nutrition.proteins}"></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="container">
    <div class="row">
        <div>
            <h4>Bereiding</h4>
            <p>
                <span th:each="step,iterStat : ${#strings.arraySplit(dish.preparation, '//')}">
                    <span th:text="${iterStat.index + 1} + '. ' + ${step.substring(3)}"></span><br>
                </span>
            </p>
        </div>
    </div>
</div>




<div class="container">
    <div class="row justify-content-center">
        <h4>Suggested Drinks</h4>
        <div class="col-lg-4 mt-3 text-center" th:each="beverage: ${beverages}">
            <article class="card">
                <div style="position: relative; width: 100%; height: 200px; overflow: hidden;">
                    <img th:src="@{${beverage.getImgFile()}}" class="position-absolute top-0 start-0 w-100 h-100" style="object-fit: cover;" alt="Image Drink">
                </div>

                <div class="card-body">
                    <p class="card-text" th:text="${beverage.name}">Beverage name</p>
                </div>

                <div class="card-footer">
                    <div th:if="${beverage}">
                        <form sec:authorize="hasAuthority('ADMIN')" th:action="@{/toggle/beverage/{id}(id=${beverage.id})}" method="post">
                            <input type="hidden" name="active" th:value="${!beverage.active}">
                            <button type="submit" th:class="${beverage.active ? 'btn btn-success' : 'btn btn-danger'}"
                                    th:text="${beverage.active ? 'Active' : 'Inactive'}">
                            </button>
                        </form>
                    </div>
                </div>
            </article>
        </div>
    </div>
</div>

<div class="text-center">
    <button type="button" onclick="printDishDetails()" class="btn btn-primary mt-3"> Download Details</button>
</div>

<div class=" text-center">
    <a class="btn btn-primary mt-3" th:href="@{|/dishdetails/${firstDish}|}"
       th:classappend="${currentDish == firstDish} ? 'disabled' : ''">First</a>
    <a class="btn btn-primary mt-3" th:href="@{|/dishdetails/${previousDish}|}"><- Prev</a>
    <th:block th:each="dish, iterStat : ${allDishes}">
        <th:block
                th:if="${iterStat.index == currentDish-1 or iterStat.index == currentDish or iterStat.index == currentDish+1}">
            <a class="btn btn-primary mt-3" th:href="@{|/dishdetails/${dish.id}|}"
               th:classappend="${dish.id == currentDish} ? 'btn-warning active' : ''"
               th:text="${dish.id}"></a>
        </th:block>
    </th:block>
    <a class="btn btn-primary mt-3" th:href="@{|/dishdetails/${nextDish}|}">Next -></a>
    <a class="btn btn-primary mt-3" th:href="@{|/dishdetails/${lastDish}|}"
       th:classappend="${currentDish == lastDish} ? 'disabled' : ''">Last</a>
</div>

<p th:text="'Page ' +${currentDish} + ' of '+ ${lastDish}" class="text-center mt-3"></p>



<footer th:replace="~{fragments/footer :: footer}"></footer>
<script th:src="@{/scripts/print.js}"></script>
<script th:src="@{/scripts/ingredient.js}"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
        integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js"
        integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy"
        crossorigin="anonymous"></script>
</body>
</html>