<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dish Detail</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{|/css/bootstrap.min.css|}">
    <link rel="stylesheet" th:href="@{|/css/rating.css|}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">

</head>
<body>
<h1 th:replace="~{fragments/header :: header}"></h1>
<h6 class="mt-3 ms-2 text-decoration-none">
    <a href="/" class="text-decoration-none">Home</a> >
    <a href="/dishes" class="text-decoration-none">Recepten</a> >
    <a th:text="${dish.name}"></a>
</h6>
<main class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="recipeImage">
                <img th:src="@{${dish.getImgFileName()}}" th:alt="${dish.name}" style="max-width: 100%;">
            </div>
        </div>
        <div class="col-md-6 ">
            <div th:if="${dish}">
                <a th:if="${canEdit}" th:href="@{|/modify/dishedit/${dish.id}|}"
                   class="btn btn-primary mb-1">Edit</a>
                <form th:if="${canEdit}" th:action="@{/toggle/dish/{id}(id=${dish.id})}"
                      method="post">
                    <input type="hidden" name="active" th:value="${!dish.isActive}">
                    <button type="submit" th:class="${dish.isActive ? ' bi bi-trash3-fill btn btn-danger' : 'bi bi-power btn btn-success'}" th:text="${dish.isActive ? ' Verwijderen' : ' Toevoegen'}">
                    </button>
                </form>
                <h2>
                    <strong th:text="${dish.name}">Dish Name</strong>

                </h2>
                <div class="d-flex">
                    <a sec:authorize="isAuthenticated()" th:href="@{|/menu/select/${dish.getId()}|}"
                       class="btn btn-primary">Toevoegen aan menu</a>
                    <form th:if="${chef!= null}" th:action="@{/modify/saveAsConcept/{dishId}(dishId=${dish.id})}" method="post">
                        <button sec:authorize="hasAuthority('USER')"  type="submit" class="btn btn-warning ms-2">Opslaan als concept</button>
                    </form>
                </div>
                <h4>Gelegenheid</h4>
                <p th:text="${dish.occasion}"></p>

                <h4>Dieet</h4>
                <p th:text="${dish.dietPreferences != 'Andere' ? dish.dietPreferences : dish.customDietPreferences}"></p>


                <h4>Bereidingstijd</h4>
                <p th:text="${dish.preparationTime}"></p>
                <div class="rating-box">
                    <form id="ratingForm" th:action="@{/dishdetails/addratings/{id}(id=${dish.id})}" method="post"
                          class="d-flex align-items-center">
                        <div class="star-rating">
                            <input type="radio" id="5-stars" name="rating" value="5"/>
                            <label for="5-stars">&#9733;</label>
                            <input type="radio" id="4-stars" name="rating" value="4"/>
                            <label for="4-stars">&#9733;</label>
                            <input type="radio" id="3-stars" name="rating" value="3"/>
                            <label for="3-stars">&#9733;</label>
                            <input type="radio" id="2-stars" name="rating" value="2"/>
                            <label for="2-stars">&#9733;</label>
                            <input type="radio" id="1-star" name="rating" value="1"/>
                            <label for="1-star">&#9733;</label>
                        </div>
                    </form>
                    <h4 class="mt-3">Average Rating: <span
                            th:text="${#numbers.formatDecimal(averageRating, 1, 1)}"></span>/5</h4>
                </div>
            </div>
        </div>
    </div>
</main>


<div class="container">
    <div class="row mt-2">
        <div class="col-sm-12 col-md-6">
            <h4>Ingrediënten</h4>
            <div class="row">
                <div class="col-6">
                    <h5 class="text-secondary">Aantal personen:</h5>
                </div>
                <div class="col-6 d-inline-flex">
                    <button onclick="subtractPersons()" class="btn btn-outline-primary rounded-circle">-</button>
                    <p th:text="${dish.getNumberOfPeople() != null ? dish.getNumberOfPeople() : 1}" id="persons"
                       class="mx-3">1</p>
                    <button onclick="addPersons()" class="btn btn-outline-primary rounded-circle">+</button>
                </div>
            </div>
            <form th:action="@{/dishdetails/addingredients/__${dish.id}__}" method="post">
                <button sec:authorize="isAuthenticated()" type="submit" class="btn btn-primary mt-3">Toevoegen aan
                    boodschappenlijst
                </button>
            </form>
            <ul th:each="ingredient, stat : ${dish.getIngredients()}"
                th:if="${ingredient.quantity != null}">
                <li>
                    <span th:text="|${ingredient.name} ${ingredient.quantity > 0 ? ':' : ''}|"></span>
                    <span th:data-quantity="${ingredient.quantity}" class="quantity" th:id="|quantity${stat.index}|"
                          th:text="${ingredient.quantity > 0 ? ingredient.quantity : ''}"></span>
                    <span th:text="${ingredient.getUnit()}"></span>
                    <img th:if="${ingredient.getImgFileName()!=null}" th:src="@{${ingredient.getImgFileName()}}" alt="Ingredient Image" style="width: 50px; height: 50px;">
                </li>
            </ul>
            <div th:if="${dish.getIngredients() == null && !dish.getNutritions().isEmpty()}">
                <p class="alert alert-danger border border-danger p-1 m-0">
                    Geen Ingredienten beschikbaar. Voeg dit toe!
                </p>
            </div>
        </div>
        <div class="col-sm-12 col-md-6">
            <div th:if="${dish.getNutritions() != null && !dish.getNutritions().isEmpty()}">
                <h4>Voedingswaarde <span class="text-secondary">(per persoon)</span></h4>
                <div th:each="nutrition: ${dish.getNutritions()}">
                    <div class="row">
                        <div class="col-lg-4 border text-center mt-2">
                            <label>Vezel</label>
                            <p th:text="${nutrition.fiber}"></p>
                        </div>
                        <div class="col-lg-4 border text-center mt-2">
                            <label>Zout</label>
                            <p th:text="${nutrition.salt}"></p>
                        </div>
                        <div class="col-lg-4 border text-center mt-2">
                            <label>Suiker</label>
                            <p th:text="${nutrition.sugar}"></p>
                        </div>
                        <div class="col-lg-4 border text-center mt-2">
                            <label>Verz. Vet</label>
                            <p th:text="${nutrition.saturatedFat}"></p>
                        </div>
                        <div class="col-lg-4 border text-center mt-2">
                            <label>Vet</label>
                            <p th:text="${nutrition.fat}"></p>
                        </div>
                        <div class="col-lg-4 border text-center mt-2">
                            <label>Koolhydraten</label>
                            <p th:text="${nutrition.carbs}"></p>
                        </div>
                        <div class="col-lg-4 border text-center mt-2">
                            <label>Eiwit</label>
                            <p th:text="${nutrition.proteins}"></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-7 p-2 m-2">
                <div class="video">
                    <iframe width="560" height="315" th:src="${dish.getVideoUrl()}" title="YouTube video player"
                            frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                            referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                </div>
            </div>
        </div>

    </div>
</div>


<div class="d-flex flex-row">
    <div class="col-sm-12 col-md-12 col-lg-6 mb-1 ms-auto">
        <div th:if="${dish.getNutritions() == null || dish.getNutritions().isEmpty()}">
            <h4>Voedingswaarde <span class="text-secondary">(per persoon)</span></h4>
            <div class="row">
                <div class="col-lg-4 border text-center mt-2">
                    <label>Vezel</label>
                    <p th:text="'0 gr'">0 gr</p>
                </div>

                <div class="col-lg-4 border text-center mt-2">
                    <label>Zout</label>
                    <p th:text="'0 mg'">0 mg</p>
                </div>

                <div class="col-lg-4 border text-center mt-2">
                    <label>Suiker</label>
                    <p th:text="'0 gr'">0 gr</p>
                </div>

                <div class="col-lg-4 border text-center mt-2">
                    <label>Verz. Vet</label>
                    <p th:text="'0 gr'">0 gr</p>
                </div>

                <div class="col-lg-4 border text-center mt-2">
                    <label>Vet</label>
                    <p th:text="'0 gr'">0 gr</p>
                </div>

                <div class="col-lg-4 border text-center mt-2">
                    <label>Koolhydraten</label>
                    <p th:text="'0 gr'">0 gr</p>
                </div>

                <div class="col-lg-4 border text-center mt-2">
                    <label>Eiwit</label>
                    <p th:text="'0 gr'">0 gr</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div>
            <h4>Bereiding</h4>
            <div class="row" th:each="step, stat : ${steps}">
                <div th:if="${step.getImage() == null}" class="col-12">
                    <div th:text="${stat.index + 1 + '. ' + step.description}"></div>
                </div>
                <div th:if="${step.getImage() != null}" class="row">
                    <div class="col-12 col-md-8 my-2" th:text="${stat.index + 1 + '. ' + step.description}"></div>
                    <div class="col-12 col-md-4 my-2 justify-content-center">
                        <img class="img-fluid ms-auto w-100" th:src="@{${step.getImage()}}" alt="Step Image">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="container">
    <div class="row justify-content-center">
        <h4>Suggested Drinks</h4>
        <div class="col-lg-4 mt-3 text-center" th:each="beverage: ${beverages}" th:if="${beverage.isActive}">
            <article class="card">
                <div style="position: relative; width: 100%; height: 200px; overflow: hidden;">
                    <img th:src="@{${beverage.getImgFile()}}" class="position-absolute top-0 start-0 w-100 h-100"
                         style="object-fit: cover;" alt="Image Drink">
                </div>

                <div class="card-body">
                    <p class="card-text" th:text="${beverage.name}">Beverage name</p>
                </div>

                <div class="card-footer">
                    <div th:if="${beverage}">
                        <form sec:authorize="hasAuthority('ADMIN')"
                              th:action="@{/toggle/beverage/{id}(id=${beverage.id})}" method="post">
                            <input type="hidden" name="active" th:value="${!beverage.isActive}">
                            <button type="submit"
                                    th:class="${beverage.isActive ? 'btn btn-success' : 'btn btn-danger'}"
                                    th:text="${beverage.active ? 'Active' : 'Inactive'}">
                            </button>
                        </form>
                    </div>
                </div>
            </article>
        </div>
    </div>
</div>


<div class="text-center">
    <button type="button" onclick="printDishDetails()" class="btn btn-primary mt-3"> Download Details</button>
</div>

<div class="text-center">
    <a class="btn btn-primary mt-3" th:href="@{|/dishdetails/${firstDish}|}"
       th:classappend="${currentDish == firstDish ? 'disabled' : ''}">First</a>
    <a class="btn btn-primary mt-3" th:href="@{|/dishdetails/${previousDish}|}"
       th:classappend="${currentDish == firstDish ? 'disabled' : ''}">← Prev</a>

    <th:block th:each="dish : ${allDishes}">
        <th:block th:if="${dish.id == currentDish - 1 or dish.id == currentDish or dish.id == currentDish + 1}">
            <a class="btn btn-primary mt-3" th:href="@{|/dishdetails/${dish.id}|}"
               th:classappend="${dish.id == currentDish ? 'btn-warning active' : ''}"
               th:text="${dish.id}"></a>
        </th:block>
    </th:block>

    <a class="btn btn-primary mt-3" th:href="@{|/dishdetails/${nextDish}|}"
       th:classappend="${currentDish == lastDish ? 'disabled' : ''}">Next →</a>
    <a class="btn btn-primary mt-3" th:href="@{|/dishdetails/${lastDish}|}"
       th:classappend="${currentDish == lastDish ? 'disabled' : ''}">Last</a>
</div>

</body>


<footer th:replace="~{fragments/footer :: footer}"></footer>
<script th:src="@{/scripts/print.js}"></script>
<script th:src="@{/scripts/ingredient.js}"></script>
<script th:src="@{/scripts/rating.js}"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
        integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js"
        integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy"
        crossorigin="anonymous"></script>
</html>
