<!DOCTYPE html>
<html lang="en">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
      crossorigin="anonymous">
<link rel="stylesheet" th:href="@{|/css/bootstrap.min.css|}">
<head>
    <meta charset="UTF-8">
    <title>Dishes</title>
</head>
<h1 th:replace="~{fragments/header :: header}"></h1>
<body>
<h6 class="mt-3 ms-2">Home > Recepten > Categorie</h6>
<div class="row mt-3 mb-3 justify-content-center">
    <div class="col-7">
        <form action="/dishes/search" method="get">
            <div class="d-flex">
                <input type="text" id="keyword" th:value="${keyword}" name="keyword" class="form-control me-1"
                       placeholder="Wat staat er op het menu vandaag?"
                       aria-label="Search">
                <input type="submit" class="btn btn-outline-primary">
            </div>
        </form>
    </div>
    <div class="col-5 col-lg-3 col-xl-2 d-flex justify-content-center">
        <a class="btn btn-success" th:href="@{|/admin/addmeal|}">Nieuwe maaltijd</a>
    </div>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-6 order-md-1">
            <div class="dishes">
                <div class="row">
                    <h4 th:text="|All dishes:(${count})|"></h4>
                    <div class="col-12 col-md-6 col-lg-4" th:each="dish : ${alldishes}">
                        <div class="card mb-3">
                            <img th:src="@{/img/{filename}(filename=${dish.getImgFileName()})}" class="card-img-top"
                                 alt="dish Image" style="height: 200px; object-fit: cover;">
                            <div class="card-body">
                                <h5 th:text="${dish.name}" class="card-title"></h5>
                            </div>
                                                    <div class="col-sm-4 d-grid p-2 m-2">
                                                        <a class="btn btn-primary" th:href="@{|/dishdetails/${dish.id}|}" role="button">Ontdek</a>
                                                    </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="filter col-md-4">
            <a th:unless="${filterEnabled}" th:href="@{/dishes/filter}" type="button"
               class="btn btn-primary rounded-pill">Open</a>
            <form th:if="${filterEnabled}">
                <a th:href="@{/dishes}" type="button" class="btn btn-primary rounded-pill">Close</a>
                <button type="submit" class="btn btn-outline-primary text-center ">Filter</button>

                <h6><strong>Dieet voorkeuren</strong></h6>
                <div class="form-check">
                    <input th:checked="${dietPreferences.contains('vegan')}" class="form-check-input" name="dietPreferences" type="checkbox" value="vegan"
                           id="dietPreferencesVegan">
                    <label class="form-check-label" for="dietPreferencesVegan"> Vegan
                    </label>
                </div>
                <div class="form-check">
                    <input th:checked="${dietPreferences.contains('vegetarisch')}" class="form-check-input" name="dietPreferences" type="checkbox" value="vegetarisch"
                           id="dietPreferencesVegetarisch">
                    <label class="form-check-label" for="dietPreferencesVegetarisch"> Vegetarisch
                    </label>
                </div>
                <div class="form-check">
                    <input th:checked="${dietPreferences.contains('glutenvrij')}" class="form-check-input" name="dietPreferences" type="checkbox" value="glutenvrij"
                           id="dietPreferencesGlutenvrij">
                    <label class="form-check-label" for="dietPreferencesGlutenvrij"> Glutenvrij
                    </label>
                </div>
                <div class="form-check">
                    <input th:checked="${dietPreferences.contains('paleo')}" class="form-check-input" name="dietPreferences" type="checkbox" value="paleo"
                           id="dietPreferencesPaleo">
                    <label class="form-check-label" for="dietPreferencesPaleo"> Paleo
                    </label>
                </div>
                <div class="form-check">
                    <input th:checked="${dietPreferences.contains('keto')}" class="form-check-input" name="dietPreferences" type="checkbox" value="keto"
                           id="dietPreferencesKeto">
                    <label class="form-check-label" for="dietPreferencesKeto"> Keto
                    </label>
                </div>
                <hr>
                <!--                <h6><strong>Beoordeling</strong></h6>-->
                <!--                <div class="form-check">-->
                <!--                    <input class="form-check-input" type="checkbox" value="" id="checkboxFiveStars">-->
                <!--                    <label class="form-check-label" for="checkboxFiveStars"> 5+ sterren-->
                <!--                    </label>-->
                <!--                </div>-->
                <!--                <div class="form-check">-->
                <!--                    <input class="form-check-input" type="checkbox" value="" id="checkboxFourStars">-->
                <!--                    <label class="form-check-label" for="checkboxFourStars"> 4+ sterren-->
                <!--                    </label>-->
                <!--                </div>-->
                <!--                <div class="form-check">-->
                <!--                    <input class="form-check-input" type="checkbox" value="" id="checkboxThreeStars">-->
                <!--                    <label class="form-check-label" for="checkboxThreeStars"> 3+ sterren-->
                <!--                    </label>-->
                <!--                </div>-->
                <!--                <div class="form-check">-->
                <!--                    <input class="form-check-input" type="checkbox" value="" id="checkboxTwoStars">-->
                <!--                    <label class="form-check-label" for="checkboxTwoStars"> 2+ sterren-->
                <!--                    </label>-->
                <!--                </div>-->
                <!--                <div class="form-check">-->
                <!--                    <input class="form-check-input" type="checkbox" value="" id="checkboxOneStar">-->
                <!--                    <label class="form-check-label" for="checkboxOneStar"> 1+ sterren-->
                <!--                    </label>-->
                <!--                </div>-->
                <h6><strong>Bereidingstijd</strong></h6>
                <label for="minPreparationTimeStr">Min:</label>
                <input type="time" name="minPreparationTimeStr" class="form-control border-primary" id="minPreparationTimeStr"
                       th:value="${minPreparationTime}" step="1">
                <label for="maxPreparationTimeStr">Max:</label>
                <input type="time" name="maxPreparationTimeStr"
                       class="form-control border-primary" id="maxPreparationTimeStr" th:value="${maxPreparationTime}" step="1">
                <hr>
                <h6><strong>Gelegenheid</strong></h6>
                <div class="form-check">
                    <input th:checked="${occasion.contains('ontbijt')}" class="form-check-input" type="checkbox" name="occasion" value="ontbijt" id="occasionBreakfast">
                    <label class="form-check-label" for="occasionBreakfast"> Ontbijt
                    </label>
                </div>
                <div class="form-check">
                    <input th:checked="${occasion.contains('middagmaal')}" class="form-check-input" type="checkbox"  name="occasion" value="middagmaal" id="occasionLunch">
                    <label class="form-check-label" for="occasionLunch"> Middagmaal
                    </label>
                </div>
                <div class="form-check">
                    <input th:checked="${occasion.contains('snacks')}" class="form-check-input" type="checkbox" name="occasion" value="snacks" id="occasionSnacks">
                    <label class="form-check-label" for="occasionSnacks"> Snacks
                    </label>
                </div>
                <div class="form-check">
                    <input th:checked="${occasion.contains('avondmaal')}" class="form-check-input" type="checkbox"  name="occasion" value="avondmaal" id="occasionDinner">
                    <label class="form-check-label" for="occasionDinner"> Avondmaal
                    </label>
                </div>
                <div class="form-check">
                    <input th:checked="${occasion.contains('dessert')}" class="form-check-input" type="checkbox" name="occasion" value="dessert" id="occasionDessert">
                    <label class="form-check-label" for="occasionDessert"> Dessert
                    </label>
                </div>
                <hr>
                <h6><strong>Koolhydraten</strong></h6>
                <label for="minCarbs">Min:</label>
                <input type="number" name="minCarbs" min="0" class="form-control border-primary" id="minCarbs" th:value="${minCarbs}">
                <label for="maxCarbs">Max:</label>
                <input type="number" name="maxCarbs" min="0" class="form-control border-primary" id="maxCarbs" th:value="${maxCarbs}">

            </form>
        </div>
    </div>
</div>
</div>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js" integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy" crossorigin="anonymous"></script>
</body>
</html>