<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
      crossorigin="anonymous">
<link rel="stylesheet" th:href="@{|/css/bootstrap.min.css|}">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dish Edit</title>
</head>
<body>
<h1 th:replace="~{fragments/header :: header}"></h1>

<h6 class="mt-3 ms-2">
    <a href="/" class="text-decoration-none">Home</a> >
    <a href="/dishes" class="text-decoration-none">Recepten</a> >
    <a th:href="@{|/dishdetails/${dish.id}|}" class="text-decoration-none" th:text="${dish.name}"></a> >
    <a th:text="|Bewerken van ${dish.name}|"></a>
</h6>

<div class="container">
    <div class="row">
        <div class="col-md-8 mx-auto rounded border p-4 m-4">
            <h2 class="text-center mb-5">Aanpassen Maaltijd</h2>
            <form method="post" enctype="multipart/form-data" th:object="${dishDto}">
                <div class="row mb-3">
                    <label class="col-sm-4 col-form-label">Naam</label>
                    <div class="col-sm-8">
                        <input class="form-control" th:field="${dishDto.name}">
                        <p th:if="${#fields.hasErrors('name')}" th:errorclass="text-danger"
                           th:errors="${dishDto.name}"></p>
                    </div>
                </div>

                <div class="row mb-3">
                    <label class="col-sm-4 col-form-label">Categorie</label>
                    <div class="col-sm-8">
                        <select class="form-control" id="categorySelect" th:field="${dishDto.dietPreferences}" onchange="toggleCustomDietPreference()">
                            <option value="" disabled>Selecteer Categorie</option>
                            <option value="paleo">Paleo</option>
                            <option value="vegetarisch">Vegetarisch</option>
                            <option value="vegan">Vegan</option>
                            <option value="keto">Keto</option>
                            <option value="glutenvrij">Glutenvrij</option>
                            <option value="Andere">Andere</option>
                        </select>
                        <p th:if="${#fields.hasErrors('dietPreferences')}" th:errorclass="text-danger"
                           th:errors="${dishDto.dietPreferences}"></p>
                    </div>
                </div>

                <div class="row mb-3" id="customDietPreferenceRow" style="display: none;">
                    <label for="customDietPreferenceInput" class="col-sm-4 col-form-label">Nieuwe Categorie</label>
                    <div class="col-sm-8">
                        <input type="text" id="customDietPreferenceInput" th:field="${dishDto.customDietPreferences}" class="form-control">
                    </div>
                </div>

                <div class="row mb-3">
                    <label class="col-sm-4 col-form-label">Bereidingstijd</label>
                    <div class="col-sm-8">
                        <input class="form-control" type="time" th:field="${dishDto.preparationTime}" step="1">
                    </div>
                </div>

                <div class="row mb-3">
                    <label class="col-sm-4 col-form-label">Gelegenheid</label>
                    <div class="col-sm-8">
                        <select class="form-control" th:field="${dishDto.occasion}">
                            <option value="ontbijt">Ontbijt</option>
                            <option value="middagmaal">Middagmaal</option>
                            <option value="snacks">Snacks</option>
                            <option value="Avondmaal">Avondmaal</option>
                            <option value="Dessert">Dessert</option>
                        </select>
                        <p th:if="${#fields.hasErrors('occasion')}" th:errorclass="text-danger"
                           th:errors="${dishDto.occasion}"></p>
                    </div>
                </div>

                <div class="row mb-3">
                    <label class="col-sm-4 col-form-label">Foto Maaltijd</label>
                    <div class="col-sm-8">
                        <input class="form-control" type="file" id="image" accept="image/*" name="image">
                        <img th:if="${dish !=null}"
                             th:src="@{${dish.getImgFileName()}}"
                             th:alt="${dish.name}" width="200" height="130" style="margin: 10px;">
                    </div>
                </div>

                <div class="d-flex justify-content-center">
                    <a class="btn btn-outline-primary btn-block" th:href="@{|/dishdetails/${dish.id}|}" role="button">Annuleren</a>
                    <button type="submit" class="btn btn-primary btn-block ms-2">Opslaan</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script th:src="@{/scripts/addcategory.js}"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js" integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy" crossorigin="anonymous"></script>
<footer th:replace="~{fragments/footer :: footer}"></footer>
</body>
</html>
